[Desktop Entry]
Type=Application
Name=Messages
Icon=icons-Applications-sms
Exec=invoker --type=d /usr/bin/qmlmessages
Comment=Nemo messaging application
X-Desktop-File-Install-Version=0.19
X-Maemo-Service=org.nemomobile.qmlmessages
X-Maemo-Method=org.nemomobile.qmlmessages.showGroupsWindow
