[Desktop Entry]
Type=Application
Name=Messages
Icon=icon-app-conversation
Exec=invoker --type=qtcomponents-qt5 /usr/bin/qmlmessages
Comment=Nemo messaging application
X-Desktop-File-Install-Version=0.19
X-Maemo-Service=org.nemomobile.qmlmessages
X-Maemo-Method=org.nemomobile.qmlmessages.showGroupsWindow
